<ion-header>
  <ion-toolbar>
    <ion-title>Produits</ion-title>
    <ion-back-button  routerDirection="backward" ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-grid>
      <ion-row>
        <ion-col col-12 col-lg-4 *ngFor="let product of products" >
          <ion-card (pan)="addToFavorites(product)" [routerLink]="['/tabs/tab1/productdetail', product.id]" routerLinkActive="router-link-active"  >
            <img src="{{baseURL + product.image}}"/>
            <div class="card-title">{{product.name}}</div>
            
          </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>  
      <div [hidden]="products || errMess">
        <ion-spinner></ion-spinner>
        <h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>

</ion-content>